<!DOCTYPE html>
<html>
  <head>
    <title>Practice3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6726daaf8d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <span>
        <%= link_to root_path,class: "navbar-brand" do %>
      Bookers
      <% end %>
      </span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
      <li>
        <%= link_to user_path(current_user),class: "nav-link text-light" do %>
        <i class="fa-solid fa-home"></i>Home
        <% end %>
      </li>
      <li><%= link_to users_path,class: "nav-link text-light" do %>
      <i class="fa-solid fa-users"></i>Users
      <% end %>
      </li>
      <li>
        <%= link_to books_path,class: "nav-link text-light" do %>
        <i class="fa-solid fa-book-open"></i>Books
        <% end %>
      </li>
      <li>
    <%= link_to destroy_user_session_path,method: :delete,class: "nav-link text-light" do %>
    <i class="fa-solid fa-sign-out-alt"></i>Log out
    <% end %>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <span>
        <%= link_to root_path,class: "navbar-brand" do %>
      Bookers
      <% end %>
      </span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
    <li>
        <%= link_to root_path,class: "nav-link text-light" do %>
        <i class="fa-solid fa-home"></i>Home
        <% end %>
      </li>
      <li>
      <%= link_to about_path,class: "nav-link text-light" do %>
      <i class="fa-solid fa-link"></i>About
      <% end %>
    </li>
    <li>
    <%= link_to new_user_registration_path,class: "nav-link text-light" do %>
    <i class="fa-solid fa-user-plus"></i>Sign up
    <% end %>
    </li>

    <li>
      <%= link_to new_user_session_path,class: "nav-link text-light" do %>
      <i class="fa-solid fa-sign-in-alt"></i>Log in
      <% end %>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <% end %>
  </header>

  <body>
    <div class="flash-notifications">
  <% flash.each do |key, value| %>
   <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
  <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path,local: true,method: :get do |f| %>
    <%= f.text_field :word,placeholder: "検索ワード",class: "form_box" %>
    <%= f.select :range,options_for_select([['User'],['Book']]) %>
    <%= f.select :search,options_for_select([['完全一致','perfect_match'],['前方一致','forward_match'],['後方一致','backward_match'],['部分一致','partial_match']]) %>
    <%= f.submit "検索",class: "btn btn-primary" %>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
</div>
    <%= yield %>
  </body>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>

  </footer>
</html>
